{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-regenerator",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "resolvers": "./src/resolvers/",
        "generated": "./src/generated/",
        "tests": "./tests"
      }
    }]
  ]
}
